<!DOCTYPE html>
<html>

	<head>
    	<meta charset="UTF-8">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>{{ title }}</title>
    </head>

    <body>
    	<h2>Ближайшие олимпиады на {{ current_date }}</h2>
    	<br>
    	<form class="login_form" method="post">
	    	<div id="выбор класса" class="form-group">
	            <label for="classSelect">Выберите ваш класс обучения (рекомендуется)</label>
	            <select class="form-control" id="classSelect" name="class">
	            	<option>7</option>
	            	<option>8</option>
	            	<option>9</option>
	            	<option>10</option>
	            	<option>11</option>
	            </select> <button type="submit" class="btn btn-primary">Ок</button>
	        </div>
	    </form>
	    <div id="список олимпиад">
        	{% block olymps_list %}{% endblock %}
        </div>
    </body>

</html>