<!DOCTYPE html>
<html>
	<head>
    	<meta charset="UTF-8">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>{{ title }}</title>
        <style>
        	.pos1 {
		   	width: 800px;
		    padding: 10px;
		    margin: auto;
		   }
        </style>
    </head>

    <body>
        <div class="pos1">
	    	<h1>Ближайшие олимпиады на {{ current_date }}:</h1>
	        <br>
	        {% if olymps_upcoming == [] %}
		    	<h6>Если здесь ничего нет, попробуйте заполнить несколько форм</h6>
		    	<form method="LINK" action="/login">
					<button type="submit" class="btn btn-outline-primary">Внести данные</button>
				</form>
	    	{% else %}
	    		{% for olymp in olymps_upcoming %}
	        		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
	    			<path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
	    			<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>
	        		{{ olymp["date"] }} <b>{{ olymp["name"] }}</b> {{ olymp["stage"] }}<br>
		        	{{ olymp["desc"] }} {{ olymp["place"] }}
	    		<br>
	    		{% endfor %}
	    	{% endif %}
	        <br>

	        <h1>Прошедшие олимпиады:</h1>
	        <br>
	        {% if olymps_passed == [] %}
		    	<h6>Если здесь ничего нет, попробуйте заполнить несколько форм</h6>
		    	<form method="LINK" action="/login">
					<button type="submit" class="btn btn-outline-primary">Внести данные</button>
				</form>
	    	{% else %}
	    		{% for olymp in olymps_passed %}
	      		<div>
	        		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
	    			<path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
	    			<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>
	        		{{ olymp["date"] }} <b>{{ olymp["name"] }}</b> {{ olymp["stage"] }}<br>
		        	{{ olymp["desc"] }} {{ olymp["place"] }}
		    		<form method="LINK" action={{ olymp["link"] }} target="_blank">
		    			<button type="submit" class="btn btn-success">Перейти</button>
		    		</form>
	    		</div>
	    		<br>
	    		{% endfor %}
	    	{% endif %}
	    </div>
    </body>
</html>